Repository caovinhphuc/React-OAS-Integration-v4.01212: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "npx prettier --write"],
  "*.{json,css,scss,md}": ["npx prettier --write"]
}

fix: sync component files from main to main
  build-stats/bundle-stats-1768974995900.json
  build-stats/bundle-stats-1768975022659.json
  build-stats/bundle-stats-1768975094392.json
  build-stats/bundle-stats-1768975106598.json
  build-stats/bundle-stats-1768975222664.json
Due: npx prettier --write

fix: sync component files from upgrade/phase-1-security to main
  .backend.pid
  a.sh
  email-test-report-2026-01-21.json
  log-analysis-2026-01-21.json
  package.json.backup.20260121_140533
  performance-budget-report.json
  telegram-test-report-2026-01-21.json
  test-report-1768979007315.json
  test-report-1768979015454.json
Due: npx prettier --write

fix: sync component files from upgrade/phase-1-security to main
  mia-warehouse-management-v1.0.0/email-test-report-2026-01-21.json
  mia-warehouse-management-v1.0.0/health-report-2026-01-21.json
  mia-warehouse-management-v1.0.0/lighthouse-reports/lighthouse-2026-01-21T07-37-49-576Z.report.html
  mia-warehouse-management-v1.0.0/lighthouse-reports/lighthouse-2026-01-21T07-37-49-576Z.report.json
  mia-warehouse-management-v1.0.0/telegram-test-report-2026-01-21.json
  test-report-1768981118472.json
Due: npx prettier --write

fix: sync component files from upgrade/phase-1-security to main
  SERVICE_WORKER_GUIDE.md
  build-stats/bundle-stats-1768987382891.json
  build-stats/bundle-stats-1768987385730.json
  build-stats/bundle-stats-1768987529894.json
  build-stats/bundle-stats-1768987532411.json
  build-stats/bundle-stats-1768987641638.json
  build-stats/bundle-stats-1768987715089.json
  build-stats/bundle-stats-1768987758050.json
  build-stats/bundle-stats-1768987899519.json
  build-stats/bundle-stats-1768987979668.json
  build-stats/bundle-stats-1768987979719.json
  build-stats/bundle-stats-1768987985142.json
  build-stats/bundle-stats-1768987985195.json
  build-stats/bundle-stats-1768987988374.json
  build-stats/bundle-stats-1768988006799.json
  src/service-worker.js
  src/serviceWorkerRegistration.js
Due: eslint --fix, npx prettier --write

Docs: Complete WebSocket documentation + Fix pre-commit hook
  .backend.pid
  .husky/pre-commit
  build-stats/bundle-stats-1768997323762.json
  certs/cert.pem
  certs/key.pem
  docs.html
  health-report-2026-01-21.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  package.json
  test-report-1768996850980.json
Due: npx prettier --write

Docs: Update testing progress - Infrastructure complete, module resolution blocker identified
  TESTING_PROGRESS.md
Due: npx prettier --write

Docs: Complete all 5 test documentation files
  TEST_FAILURES_EXPLAINED.md
  TEST_GUIDES_COMPLETE.md
  TEST_GUIDES_INDEX.md
  TEST_RESULTS.md
  TEST_SCRIPTS_GUIDE.md
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  health-report-2026-01-17.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  scripts/health-report-2026-01-17.json
  scripts/health-report-2026-01-18.json
  scripts/telegram-test-report-2026-01-17.json
  scripts/telegram-test-report-2026-01-18.json
  setup-report.json
Due: npx prettier --write

q
  docs.html
  health-report-2026-01-17.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  scripts/health-report-2026-01-17.json
  scripts/health-report-2026-01-18.json
  scripts/telegram-test-report-2026-01-17.json
  scripts/telegram-test-report-2026-01-18.json
  setup-report.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  scripts/deploy/deploy.sh
Due: none

🔧 Fix: Disable pre-commit tests and remove Vercel config for relinking
  .husky/pre-commit
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  health-report-2026-01-17.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  scripts/deploy/deploy.sh
  scripts/email-test-report-2026-01-17.json
  scripts/email-test-report-2026-01-18.json
  scripts/health-report-2026-01-17.json
  scripts/health-report-2026-01-18.json
  scripts/telegram-test-report-2026-01-17.json
  scripts/telegram-test-report-2026-01-18.json
  scripts/utils/test-all-scripts.sh
  setup-report.json
Due: npx prettier --write

Your commit message
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  scripts/deploy/deploy.sh
Due: npx prettier --write

🚀 Deploy: Update build stats, certs, logs, and deploy scripts
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  scripts/deploy/deploy.sh
Due: npx prettier --write

🚀 Deploy: Resolve merge conflicts in generated files
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  scripts/deploy/deploy.sh
Due: npx prettier --write

fix: sync component files from main to main
  build-report.json
  build-stats/bundle-stats-1769002647040.json
  build-stats/bundle-stats-1769002761016.json
  build-stats/bundle-stats-1769002821885.json
  build-stats/bundle-stats-1769002929611.json
  build-stats/bundle-stats-1769002954763.json
  build-stats/bundle-stats-1769003045468.json
  build-stats/bundle-stats-1769003094857.json
  build-stats/bundle-stats-1769003377485.json
Due: npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  .npmrc
  BUNDLE_OPTIMIZATION_REPORT.md
  CARGO_INTEGRATION.md
  babel.config.js
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  log-analysis-2026-01-21.json
  logs/ai-service.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
Due: eslint --fix, npx prettier --write

feat: Enhanced config system with cargo v2.0 and auto-optimization
  .npmrc
  CARGO_INTEGRATION.md
  config.unified.js
  logs/google-sheets-frontend.log
  package.json
  scripts/cargo-info.js
  scripts/check-tools.js
Due: eslint --fix, npx prettier --write

docs: Add CONFIG_UPGRADE_SUMMARY.md
  CONFIG_UPGRADE_SUMMARY.md
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

fsdxfsdx
  docs.html
Due: none

🔧 Update: Auto commit and deploy
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
  scripts/deploy/deploy.sh
Due: npx prettier --write

fix: Resolve merge conflicts in package.json
  package.json
Due: npx prettier --write

start
  scripts/upgrade-phase1.ps1
Due: none

Your commit message
  PACKAGE_UPDATE_PLAN.md
  babel.config.js
  backend/package-lock.json
  google-sheets-project/.DS_Store
  jest.config.js
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
  src/setupTests.js
  src/utils/test-utils.js
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
Due: none

43
  certs/cert.pem
  certs/key.pem
  logs/ai-service.log
  logs/google-sheets-frontend.log
Due: none

feat: Initial commit - React OAS Integration v4.0
  BUNDLE_OPTIMIZATION_REPORT.md
  BUNDLE_OPTIMIZATION_ROADMAP.md
  CARGO_INTEGRATION.md
  OPTIMIZATION_SUGGESTIONS.md
  PACKAGE_UPDATE_PLAN.md
  build-report.json
  build-stats/bundle-stats-1769067363538.json
  build-stats/bundle-stats-1769067537557.json
  build-stats/bundle-stats-1769067652281.json
  build-stats/bundle-stats-1769067921015.json
  build-stats/bundle-stats-1769068500409.json
  docs.html
  health-report-2026-01-22.json
  log-analysis-2026-01-22.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  package.json
  scripts/email-test-report-2026-01-22.json
  scripts/health-report-2026-01-22.json
  scripts/telegram-test-report-2026-01-22.json
  setup-report.json
  test-report-1769068933403.json
Due: npx prettier --write

feat: Initial commit - React OAS Integration v4.0
  .env.example
  GITHUB_SETUP_GUIDE.md
  OPTIMIZATION_SUGGESTIONS_V2.md
Due: npx prettier --write

Test commit
  docs.html
  logs/automation.log
  logs/backend.log
  logs/frontend.log
Due: none

🔧 Update: Pre-deployment changes and optimizations
  .backend.pid
  BUNDLE_OPTIMIZATION_SESSION_UPDATE.md
  CODE_SPLITTING_TEST_PLAN.md
  OPTIMIZATION_SUGGESTIONS_V2.md
  babel.config.js
  certs/cert.pem
  certs/key.pem
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
  shared-services/google-sheets/service.js
  src/App.jsx
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  build-stats/bundle-stats-latest.json
  certs/cert.pem
  certs/key.pem
  google-apis-check-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
  scripts/deploy/deploy.sh
  setup-report.json
Due: npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  logs/ai-service.log
  logs/google-sheets-backend.log
Due: none

23
  certs/cert.pem
  certs/key.pem
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  certs/cert.pem
  certs/key.pem
  package.json
Due: npx prettier --write

fix: sync component files from main to main
  TAILWIND_SETUP_GUIDE.md
  settings.json
  src/components/TailwindTest.jsx
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, npx prettier --write

fix: sync component files from main to main
  SERVICE_WORKER_TEST_GUIDE.md
  lighthouse-report-20260122-200701.html
  lighthouse-report-20260122-200728.html
  lighthouse-report-20260122-200838.html
  lighthouse-report-20260122-200859.html
  lighthouse-report-20260122-201008.html
  lighthouse-report.html
  public/lighthouse.yml
  public/logo192.png
  public/logo512.png
  run-lighthouse.sh
  test-service-worker.sh
  your-app.vercel.app_2026-01-22_19-59-20.report.html
  your-app.vercel.app_2026-01-22_20-02-29.report.html
  your-app.vercel.app_2026-01-22_20-02-45.report.html
Due: npx prettier --write

fix: sync component files from main to main
  SECURITY_ASSESSMENT.md
  SECURITY_QUICKREF.txt
  fix-vulnerabilities.sh
Due: npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  BUNDLE_OPTIMIZATION_REPORT.md
  OPTIMIZATION_SUGGESTIONS.md
  REACT_GRID_LAYOUT_FIX.md
  ROADMAP_NEXT_STEPS.md
  React-OAS-Integration-v4.0.code-workspace
  SERVICE_WORKER_GUIDE.md
  UI_COMPONENTS_GUIDE.md
  WEBSOCKET_SETUP_GUIDE.md
  WEBSOCKET_SUBSCRIBE_FIX.md
  babel.config.js
  build-report.json
  certs/cert.pem
  certs/key.pem
  docs.html
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  package.json
  postcss.config.js
  public/Untitled
  public/index.html
  public/login.html
  public/test-login.html
  setup_ide.sh
  src/index.css
Due: eslint --fix, npx prettier --write

test
  logs/backend.log
Due: none
