Repository caovinhphuc/React-OAS-Integration-v4.01212: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

Your commit message
  DEPLOYMENT_GUIDE.md
  package-lock.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  DEPLOYMENT_GUIDE.md
  serve-build.sh
Due: npx prettier --write

Merge: Resolve conflicts
  .env.example
  .env.production.template
  DEPLOYMENT_GUIDE.md
  DEPLOY_INSTRUCTIONS.md
  backend/.env.example
  backend/src/routes/googleApis.js
  backend/src/server.js
Due: eslint --fix, npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  .env.local
  DEPENDENCIES_SETUP_COMPLETE.md
  GOOGLE_SHEETS_SETUP_GUIDE.md
  backend/package-lock.json
  backend/package.json
  certs/cert.pem
  certs/key.pem
  logs/ai-service.log
  logs/backend.log
  logs/frontend.log
Due: npx prettier --write

Your commit message
  scripts/deploy/quick-deploy.sh
Due: none

Your commit message
  DEPLOYMENT_GUIDE.md
  scripts/deploy/quick-deploy.sh
Due: npx prettier --write

chore: prepare for deployment
  logs/ai-service.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
Due: none

feat: Update React OAS Integration v3.0
  scripts/deploy/quick-deploy.sh
Due: none

Your commit message
  setup-report.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  logs/google-sheets-backend.log
  package.json
  pnpm-lock.yaml
  scripts/deploy/quick-deploy.sh
  vercel.json
Due: npx prettier --write

fix: keep src automation in vercel deploy context
  .vercelignore
Due: none

fix(auth): use production backend fallback when API env is missing
  src/components/auth/ProtectedRoute.jsx
  src/components/layout/Layout.jsx
  src/services/securityService.js
  src/utils/getApiBaseUrl.js
Due: eslint --fix, npx prettier --write

start
  automation/.env
Due: none

logs
  backup_markdown/PRODUCTION_DEPLOYMENT_GUIDE.md
Due: npx prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
