Repository caovinhphuc/React-OAS-Integration-v4.01212: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "npx prettier --write"],
  "*.{json,css,scss,md}": ["npx prettier --write"]
}

Your commit message
  backend/package-lock.json
  build-report.json
  build-stats/bundle-stats-1771209668109.json
  logs/ai-service.log
  logs/frontend.log
Due: npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  docs.html
  src/.gitignore
  src/package.json
  test-report-1771211312955.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
  mia-vn-google-integration/scripts/git/create-repo-and-push.sh
  mia-vn-google-integration/scripts/git/parepare-github-repo.sh
  mia-vn-google-integration/scripts/git/push-to-github.sh
  mia-vn-google-integration/scripts/git/setup-github.sh
  mia-vn-google-integration/scripts/git/sync-to-main.sh
  mia-vn-google-integration/scripts/setup/deployNetlify.sh
  mia-vn-google-integration/scripts/setup/deployVercel.sh
  mia-vn-google-integration/scripts/setup/https-setup.sh
  mia-vn-google-integration/scripts/setup/ide-setup.sh
  mia-vn-google-integration/scripts/setup/install.sh
  mia-vn-google-integration/scripts/setup/main-setup.sh
  mia-vn-google-integration/scripts/setup/setup.js
  mia-vn-google-integration/scripts/setup/verify-setup.sh
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/.depcheckrc.json
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/build-stats/bundle-stats-1771552237525.json
  mia-vn-google-integration/build-stats/bundle-stats-1771552259035.json
  mia-vn-google-integration/build-stats/bundle-stats-1771552419483.json
  mia-vn-google-integration/build-stats/bundle-stats-1771552482583.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553065620.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553168431.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553181328.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553211200.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553221144.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553234993.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553553226.json
  mia-vn-google-integration/build-stats/bundle-stats-1771553626154.json
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
  mia-vn-google-integration/image-optimization-report.json
  mia-vn-google-integration/package.json
  mia-vn-google-integration/quick-deploy.sh
  mia-vn-google-integration/scripts/analyze-with-sourcemaps.js
  mia-vn-google-integration/scripts/fix/fix-api-connection.sh
  mia-vn-google-integration/scripts/fix/fix-automation-path.sh
  mia-vn-google-integration/scripts/fix/fix-branch-sync.sh
  mia-vn-google-integration/scripts/fix/fix-chunk-errors.sh
  mia-vn-google-integration/scripts/fix/fix-missing-files.sh
  mia-vn-google-integration/scripts/fix/fix-port-conflict.sh
  mia-vn-google-integration/setup_ide.sh
  mia-vn-google-integration/start-stop/start-all.sh
  mia-vn-google-integration/start-stop/start-backend.sh
  mia-vn-google-integration/start-stop/stop-all.sh
Due: eslint --fix, npx prettier --write

Merge: Resolve conflicts
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/build-stats/bundle-stats-1771554235756.json
  mia-vn-google-integration/build-stats/bundle-stats-1771555402342.json
  mia-vn-google-integration/build-stats/bundle-stats-1771555433881.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557054749.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557614180.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557629488.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557704256.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557751905.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557762314.json
  mia-vn-google-integration/build-stats/bundle-stats-1771557765587.json
  mia-vn-google-integration/build-stats/bundle-stats-1771558193693.json
  mia-vn-google-integration/build-stats/bundle-stats-1771558219085.json
  mia-vn-google-integration/build-stats/bundle-stats-1771558239709.json
  mia-vn-google-integration/package.json
  mia-vn-google-integration/quick_deploy.sh
  mia-vn-google-integration/src/components/ui/Card.css
  mia-vn-google-integration/src/components/ui/Card.js
  mia-vn-google-integration/src/components/ui/Skeleton.css
  mia-vn-google-integration/src/components/ui/Skeleton.js
  mia-vn-google-integration/src/hooks/useKeyboardNavigation.js
  mia-vn-google-integration/src/services/dataProcessingService.js
  mia-vn-google-integration/src/services/onePageService.js
  mia-vn-google-integration/src/services/schedulerService.js
  mia-vn-google-integration/src/styles/animations.css
  mia-vn-google-integration/src/styles/design-tokens.css
  mia-vn-google-integration/src/utils/performance.js
  mia-vn-google-integration/start_dev_servers.sh
Due: eslint --fix, npx prettier --write

feat: your feature
  mia-vn-google-integration/BUNDLE_OPTIMIZATION_REPORT.md
  mia-vn-google-integration/OPTIMIZATION_SUGGESTIONS.md
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/docs.html
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/BUNDLE_OPTIMIZATION_REPORT.md
  mia-vn-google-integration/OPTIMIZATION_SUGGESTIONS.md
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559410486.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559428650.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559671157.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559726579.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559819677.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559939895.json
  mia-vn-google-integration/build-stats/bundle-stats-1771559957703.json
  mia-vn-google-integration/build-stats/bundle-stats-1771560049837.json
  mia-vn-google-integration/build-stats/bundle-stats-1771560173079.json
  mia-vn-google-integration/build-stats/bundle-stats-1771560178006.json
  mia-vn-google-integration/build-stats/bundle-stats-1771560387287.json
  mia-vn-google-integration/docs.html
  mia-vn-google-integration/package.json
  mia-vn-google-integration/scripts/generate-bundle-stats.js
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/build-stats/bundle-stats-1771560845817.json
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
  mia-vn-google-integration/jest.config.js
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/image-optimization-report.json
  mia-vn-google-integration/start.sh
  mia-vn-google-integration/sync-to-main.sh
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/netlify.toml
  mia-vn-google-integration/production_deploy.sh
  mia-vn-google-integration/scripts/start-stop/start-all.sh
  mia-vn-google-integration/scripts/start-stop/start-backend.sh
  mia-vn-google-integration/scripts/start-stop/stop-all.sh
  mia-vn-google-integration/src/components/layout/layouts/AppHeader.js
  mia-vn-google-integration/src/components/layout/layouts/AppMainLayout .js
  mia-vn-google-integration/src/components/layout/layouts/AppSidebar.js
  mia-vn-google-integration/src/components/layout/layouts/MainLayout.js
Due: eslint --fix, npx prettier --write

feat: your feature
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
Due: none

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/package.json
Due: npx prettier --write

feat: your feature
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
  mia-vn-google-integration/docs.html
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/docs.html
  mia-vn-google-integration/package.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/.env.vercel
  mia-vn-google-integration/babel.config.js
  mia-vn-google-integration/package.json
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  .nvmrc
  GUIDE/VERCEL_CONFIG_GUIDE.md
  backend/package-lock.json
  health-report-2026-02-25.json
  logs/ai-service.log
  logs/backend.log
  package.json
  scripts/email-test-report-2026-02-25.json
  scripts/health-report-2026-02-25.json
  scripts/telegram-test-report-2026-02-25.json
  scripts/update_vercel_env.sh
  src/components/YourComponent.test.js
  test-report-1771997102454.json
  test-report-1771997245894.json
  test-report-1771997395963.json
  test-report-1771997929077.json
  test-report-1771997977901.json
  test-report-1771998011416.json
  test-report-1771998101394.json
  test-report-1771998148583.json
  test-report-1771998158674.json
Due: eslint --fix, npx prettier --write

🔧 Update: Auto commit and deploy
  mia-vn-google-integration/babel.config.js
  mia-vn-google-integration/certs/cert.pem
  mia-vn-google-integration/certs/key.pem
  mia-vn-google-integration/docs.html
  mia-vn-google-integration/package.json
  mia-vn-google-integration/src/package.json
Due: eslint --fix, npx prettier --write

Your commit message
  mia-vn-google-integration/.depcheckrc.json
  mia-vn-google-integration/.env.vercel
  mia-vn-google-integration/build-stats/bundle-stats-1772001954023.json
  mia-vn-google-integration/build-stats/bundle-stats-1772001977291.json
  mia-vn-google-integration/package.json
Due: npx prettier --write

Merge: Resolve conflicts
  mia-vn-google-integration/build-report.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002440701.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002508296.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002511409.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002534843.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002586046.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002601766.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002766037.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002785513.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002876835.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002884204.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002904639.json
  mia-vn-google-integration/build-stats/bundle-stats-1772002909990.json
  mia-vn-google-integration/build-stats/bundle-stats-1772003116037.json
Due: npx prettier --write

Resolve merge conflicts
  mia-vn-google-integration/docs.html
Due: none

feat: Initial commit - React OAS Integration v4.0
  mia-vn-google-integration/.env.example
Due: none

start
  .DS_Store
  .depcheckrc.json
  BUNDLE_OPTIMIZATION_GUIDE.md
  backend/package-lock.json
  backend/package.json
  build-report.json
  build-stats/bundle-stats-1772006614181.json
  build-stats/bundle-stats-1772006931454.json
  docs.html
  docs/OPTIMIZATION_GUIDE_REACT_SCRIPTS.md
  google-apis-check-report.json
  health-report-2026-02-25.json
  jest.config.js
  lighthouse-reports/lighthouse-2026-02-25T05-07-03-303Z.report.json
  lighthouse-reports/lighthouse-2026-02-25T05-07-23-014Z.report.json
  logs/ai-service.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  mia-vn-google-integration/build-stats/bundle-stats-1772005171357.json
  mia-vn-google-integration/package.json
  package.json
  scripts/email-test-report-2026-02-25.json
  scripts/health-report-2026-02-25.json
  scripts/telegram-test-report-2026-02-25.json
  setup-report.json
  src/package.json
  test-report-1772000409480.json
  test-report-1772005967156.json
  test-report-1772006972684.json
Due: eslint --fix, npx prettier --write
