Repository caovinhphuc/React-OAS-Integration-v4.01212: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "npx prettier --write"],
  "*.{json,css,scss,md}": ["npx prettier --write"]
}

🔧 Update: Pre-deployment changes and optimizations
  BUNDLE_OPTIMIZATION_REPORT.md
  build-report.json
  build-stats/bundle-stats-1769093123547.json
  build-stats/bundle-stats-1769093190058.json
  build-stats/bundle-stats-1769093203346.json
  build-stats/bundle-stats-1769093451450.json
  build-stats/bundle-stats-1769093523237.json
  build-stats/bundle-stats-1769093541690.json
  build-stats/bundle-stats-1769093550785.json
  build-stats/bundle-stats-1769093559543.json
  build-stats/bundle-stats-1769093628622.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  package.json
  test-report-1769092985037.json
  test-report-1769093015948.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  logs/automation.log
  logs/backend.log
Due: none

feat: Update React OAS Integration v3.0
  scripts/git/parepare-github-repo.sh
Due: none

fix: sync component files from main to main
  test-report-1769095769925.json
  test-report-1769095785340.json
  test-report-1769095809672.json
  test-report-1769095827811.json
  test-report-1769095872792.json
  test-report-1769095960132.json
  test-report-1769095985536.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  .env.local
  a.sh
  certs/cert.pem
  certs/key.pem
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  scripts/git/setup-github.sh
Due: none

🔧 Update: Pre-deployment changes and optimizations
  logs/ai-service.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
Due: none

🔧 Update: Pre-deployment changes and optimizations
  logs/ai-service.log
  logs/google-sheets-frontend.log
Due: none

Initial commit: React OAS Integration v3.0
  logs/backend.log
  logs/google-sheets-frontend.log
Due: none

start
  docs.html
  google-apis-check-report.json
  google-sheets-project/.DS_Store
  health-report-2026-01-22.json
  logs/backend.log
  logs/frontend.log
  mia-vn-google-integration/email-test-report-2026-01-22.json
  mia-vn-google-integration/health-report-2026-01-22.json
  mia-vn-google-integration/performance-budget-report.json
  mia-vn-google-integration/telegram-test-report-2026-01-22.json
  package-lock.json
  scripts/email-test-report-2026-01-22.json
  scripts/health-report-2026-01-22.json
  scripts/telegram-test-report-2026-01-22.json
  test-report-1769102544839.json
  test-report-1769103106017.json
  test-report-1769103775311.json
  test-report-1769103794823.json
  test-report-1769103858242.json
  test-report-1769103916480.json
  test-report-1769104069692.json
Due: npx prettier --write

feat: Initial commit - React OAS Integration v3.0
  mia-vn-google-integration/.gitignore
  mia-vn-google-integration/Untitled
Due: none

test: add UserProfile component tests
  mia-vn-google-integration/Untitled
  mia-vn-google-integration/src/package.json
  mia-vn-google-integration/vercel.json
Due: npx prettier --write

Your commit message
  google-sheets-project/.gitignore
  mia-vn-google-integration/Untitled
  mia-vn-google-integration/health-report-2026-01-22.json
  mia-vn-google-integration/package.json
  mia-vn-google-integration/performance-budget-report.json
  mia-vn-google-integration/public/index.html
  mia-vn-google-integration/src/App.css
  mia-vn-google-integration/src/App.js
  mia-vn-google-integration/src/App.test.js
  mia-vn-google-integration/src/components/YourComponent.test.js
  mia-vn-google-integration/src/index.css
  mia-vn-google-integration/src/index.js
  mia-vn-google-integration/src/package.json
  mia-vn-google-integration/tailwind.config.js
Due: eslint --fix, npx prettier --write

🔧 Update: Pre-deployment changes and optimizations
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package-lock.json
Due: npx prettier --write

🔧 Update: Auto commit and deploy
  certs/cert.pem
  certs/key.pem
  google-sheets-project/.gitignore
  logs/ai-service.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  mia-warehouse-management-v1.0.0/config/config.json
  mia-warehouse-management-v1.0.0/lighthouse-reports/lighthouse-2026-01-21T07-37-49-576Z.report.html
  package-lock.json
Due: npx prettier --write

2wqa
  logs/ai-service.log
  logs/frontend.log
Due: none

Resolve merge conflicts
  logs/ai-service.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
Due: none

feat: Initial commit - React OAS Integration v4.0
  .env.example
Due: none

fix: lint and test improvements
  build-stats/bundle-stats-1769369639833.json
  build-stats/bundle-stats-1769369759965.json
Due: npx prettier --write

docs: Phase 1 optimization status verification
  PHASE_1_OPTIMIZATION_STATUS.md
  build-stats/bundle-stats-1769369867576.json
Due: npx prettier --write

feat(Phase 2.1): Implement Google APIs proxy - save 300-400KB bundle
  backend/src/routes/googleApis.js
  backend/src/server.js
  backend/src/services/googleApisProxy.js
  package.json
  src/services/googleDriveApi.js
  src/services/googleSheetsApi.js
Due: eslint --fix, npx prettier --write

feat(Phase 2.2): Implement Recharts lazy loading - save 100-150KB bundle
  src/components/analytics/ChartComponents.jsx
  src/utils/lazyRecharts.js
Due: eslint --fix, npx prettier --write

feat(Phase 2.3): Implement Socket.io lazy loading - save 50-80KB bundle
  src/services/websocketService.js
  src/store/slices/dashboardSlice.js
  src/utils/lazySocketIO.js
Due: eslint --fix, npx prettier --write

start
  BUNDLE_OPTIMIZATION_GUIDE.md
  BUNDLE_OPTIMIZATION_REPORT.md
  CARGO_INTEGRATION.md
  build-stats/bundle-stats-1769402234933.json
  build-stats/bundle-stats-1769402339202.json
  build-stats/bundle-stats-1769402583325.json
  build-stats/bundle-stats-1769402997972.json
  build-stats/bundle-stats-1769403110522.json
  build-stats/bundle-stats-1769403287346.json
  certs/cert.pem
  certs/key.pem
  health-report-2026-01-26.json
  image-optimization-report.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  logs/google-sheets-backend.log
  logs/google-sheets-frontend.log
  package-lock.json
  package.json
  pnpm-lock.yaml
  shared-services/.DS_Store
  src/.DS_Store
  src/services/googleDriveApi.js
Due: eslint --fix, npx prettier --write

Commit message
  email-test-report-2026-02-11.json
  health-report-2026-02-11.json
  logs/ai-service.log
  logs/backend.log
  logs/frontend.log
  package-lock.json
  package.json
  scripts/email-test-report-2026-02-11.json
  scripts/health-report-2026-02-11.json
  scripts/telegram-test-report-2026-02-11.json
  src/components/auth/test/Login.test.jsx
  src/components/auth/test/ProtectedRoute.test.jsx
  src/fixtures/auth.js
  src/mocks/axios.js
  src/mocks/fetch.js
  src/mocks/services/securityService.js
  telegram-test-report-2026-02-11.json
  test-report-1770838848706.json
  test-report-1770838906859.json
  test-report-1770839034754.json
  test-report-1770839466753.json
Due: eslint --fix, npx prettier --write

Your commit message
  .backend.pid
  React-OAS-Integration-v4.0.code-workspace
  certs/cert.pem
  certs/key.pem
  logs/backend.log
Due: none

Resolve merge conflicts
  .DS_Store
  BUNDLE_OPTIMIZATION_REPORT.md
  OPTIMIZATION_SUGGESTIONS.md
  React-OAS-Integration-v4.0.code-workspace
  build-report.json
  build-stats/bundle-stats-1771198218715.json
  build-stats/bundle-stats-1771198472630.json
  build-stats/bundle-stats-1771199152190.json
  certs/cert.pem
  certs/key.pem
  docs.html
  health-report-2026-02-15.json
  image-optimization-report.json
  log-analysis-2026-02-15.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  package-lock.json
  package.json
  scripts/email-test-report-2026-02-15.json
  scripts/health-report-2026-02-15.json
  scripts/telegram-test-report-2026-02-15.json
  test-report-1771197765856.json
Due: npx prettier --write

Test commit
  DEVELOPMENT_TOOLS_SUMMARY.md
  DOCUMENTATION_FIX_SUMMARY.md
  DOCUMENTATION_INDEX.md
  FIXES_COMPLETED.md
  GOOGLE_SHEETS_INTEGRATION_ISSUE.md
  backend/src/routes/googleApis.js
  backend/src/server.js
  build-report.json
  build-stats/bundle-stats-1771199916303.json
  build-stats/bundle-stats-1771199929424.json
  build-stats/bundle-stats-1771200128820.json
  build-stats/bundle-stats-1771200197171.json
  build-stats/bundle-stats-1771200272391.json
  build-stats/bundle-stats-1771200429631.json
  build-stats/bundle-stats-1771200450053.json
  docs.html
  google-sheets-project/src/services/googleSheetsApi.js
  health-report-2026-02-16.json
  logs/ai-service.log
  logs/automation.log
  logs/backend.log
  logs/frontend.log
  package.json
  scripts/email-test-report-2026-02-16.json
  scripts/health-report-2026-02-16.json
  scripts/telegram-test-report-2026-02-16.json
  src/components/auth/test/ProtectedRoute.test.jsx
  src/utils/test-utils.js
  test-report-1771200559825.json
  test-report-1771200627403.json
Due: eslint --fix, npx prettier --write
